<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <title>Fale conosco </title>
    <link rel="stylesheet" type="text/css" href="estilo.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" media="screen" />
  </head>
  <body>
    <div>
        <p class="name">CLIQUE NO BOTÃO ABAIXO E PREENCHA O FORMULÁRIO</p>
        
    <div class="mb-5">
      <a id="botao" href="file:///C:/Users/Microsoft/ultima_projeto/Modulo6S1/Ultima-School-Modulo06-Semana-1/form/templates/formulario.html" class="btn btn-primary btn-lg px-4">
        <reserva class="html">Formulário Aqui</reserva></a>
    </div>
    </div>

  
  <footer class="pt-5 my-5 text-mut">
    Eder Assis team &middot; &copy; 2023
  </footer>
</div>
    <script src="bootstrap.bundle.min.js"></script>
  </body>
</html>